*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  display: flex;
    background: #000;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    perspective: 2200px;
}
.ball{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: aqua;
    animation: jump 3s infinite ;
  
    z-index: 1;
}
.base{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: white;
  
    /* animation: jump 1s infinite ; */
    transform:translateY(45vh) rotateX(70deg);
    z-index: 0;
   

}

@keyframes jump{

    0%,100%{
        transform: translateY(60vh)
    }
    50%{
        transform: translateY(0vh);
    }
    
}